<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel {{ channel.name }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container"> 
    
    {% if channel %}
        <h1>Heyloo. You have entered my guessing game. Enter a number between 0 and 50. Happy Playing!</h1>
        
        <div id="messages" class="messages-container">
            {% for message in messages %}
            <div class="message"> 
                <h2>{{ message.sender }}</h2>
                <p>{{ message.content }}</p>
                <span class="timestamp">{{ message.timestamp }}</span>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>Channel not found</h1>
    {% endif %}

    <form action="post" method="post" class="new-message">
        <h3>Post a Message</h3>
        <input type="hidden" name="channel" value="{{ channel.endpoint | urlencode }}">
        Sender: <input type="text" name="sender" id="sender" placeholder="Your Name"> <br>
        Message: <input type="text" name="content" id="content" placeholder="Your Message"> <br>
        <input type="submit" value="Post">
    </form>
    </div>

    <footer>
        <p>The distributed messenger. <a href="{{ url_for('home_page') }}">List of channels.</a> </p>
    </footer>

    <!-- Bot image -->
    <div class="bot-image-container">
        <img src="/static/bot_image.jpg" alt="Bot Image">
    </div>
</body>
</html>