<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of channels</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container"> 

    <h1>List of message channels</h1>
    <div id="messages" class="messages-container"></div>
    <ul>
        {% for channel in channels %}
            <div class="message"> 
            <li><a href="{{ url_for('show_channel', channel=channel.endpoint) }}">{{ channel.name }}</a></li>
            
            </div>
        {% endfor %}
    </ul>
    </div>

    </div>

</body>
</html>